.entries-page-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;

    .search-bar-container {
        background-color: #F1F6F7;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 30%;

        .search-icon {
            width: 20px;
        }

        .search-bar {
            outline: none;
            background-color: #F1F6F7;
            border: none;
            flex: 1;
            margin-left: 10px;
            margin-right: 10px;
            color: #444;
            font-weight: 500px;
        }
    }

    .tab-container {
        display: flex;
        flex-direction: row;
        margin: 30px 0;

        .selected-item {
            color: #FE5C1C;
            font-weight: 600;
            font-size: 1.2rem;
            text-decoration: underline;
            background-color: white;
            margin-right: 20px;
            cursor: pointer;
        }

        .unselected-item {
            color: #ccc;
            font-weight: 600;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 20px;
        }
    }

    .entries-list-container {
        padding: 15px 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 20px;
        background-color: #F1F6F7;
        border-radius: 10px;
    }
}