.operator-entries-container {
    display: flex;
    flex-direction: column;

    .logo {
        width: 180px;
        margin-top: 30px;
    }

    .name-list-container {
        display: flex;
        flex-direction: column;
        margin: 0 30px 40px;
        background-color: #f1f6f7;
        border-radius: 10px;

        .name {
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
            margin-bottom: 20px;
            padding: 15px;
        }

        .entries-list-container {
            padding: 15px 40px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-gap: 20px;
            background-color: #F1F6F7;
            border-radius: 10px;
        }
    }
}